* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.medsos {
    padding: 5px 0px;
    background-color: black;
}

.medsos ul li {
    display: inline-block;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}